@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Induction';
    src: url(/fonts/Induction.otf);
}

@font-face {
    font-family: 'Space';
    src: url(/fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

body {
    background-color: #0f172a;
    font-family: Space;
    height: 100%;
}

html {
    scrollbar-gutter: stable both-edges;
}

#logo-text {
    font-family: Induction;
}

.labil {
    font-family: Space;
}

.no-scrollbar {
    overflow: hidden;
}

:root {
    --custom-max-height: calc(100vh - 150px);
}

div::-webkit-scrollbar {
    width: 1.5em;
}

div::-webkit-scrollbar-thumb {
    background-color: #0f172a;
    border: 6px solid transparent;
    box-shadow: inset 0 0 0 2px #6366f1; /* Adjust the spread value as needed */
    border-radius: 30px;
}

body::-webkit-scrollbar {
    width: 1.5em;
}

body::-webkit-scrollbar-thumb {
    background-color: #0f172a;
    border: 6px solid transparent;
    box-shadow: inset 0 0 0 2px #6366f1; /* Adjust the spread value as needed */
    border-radius: 30px;
}
