@font-face {
    font-family: 'Yapari';
    src: url(/fonts/YapariTrial-Bold.ttf);
}

body {
    background-color: #0f172a;
}

h1 {
    font-family: Yapari;
}

#logo-text {
    font-family: Yapari
}

@tailwind base;
@tailwind components;
@tailwind utilities;