@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Yapari';
    src: url(/fonts/YapariTrial-Bold.ttf);
}

@font-face {
    font-family: 'Space';
    src: url(/fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

body {
    background-color: #0f172a;
    font-family: Space;
}

#logo-text {
    font-family: Yapari;
}
